<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Configuração-->
    <script src="../static/conf/edit.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="../static/css/leaflet/leaflet.css" crossorigin="" />
    <script src="../static/js/leaflet/leaflet.js"></script>
    <script type="module" src="../static/js/leaflet/leaflet-src.esm.js"></script>
    <script src="../static/js/leaflet/leaflet-src.js"></script>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>

    <!--Leaflet.EasyButton-->
    <link rel="stylesheet" href="../static/css/Leaflet.EasyButton/easy-button.css" crossorigin="" />
    <script src="../static/js/Leaflet.EasyButton/easy-button.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" crossorigin="" />
    <script type="module" src="../static/js/bootstrap/bootstrap.js"></script>
    
    <!--Meu CSS-->
    <link rel="stylesheet" href="../static/css/global.css"> 

    <title>Mapa</title>

</head>
<body>
    
    <div class="row">
        <div class="col-12">

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">TerrainIntelGIS</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <form action="/gerarRelatorio" method="POST">
                                <button class="nav-link active">Gerar Relatório PDF</button>
                            </form>
                        </li>
                      </ul>
                      <button class="btn btn-outline-success">Logout</button>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div id="agrupamentos"> 
                <ul>
                <p><strong>MÉDIAS DOS ATRIBUTOS:</strong></p>
                <!--Para cada agrupamento-->
                {% for i in range(name.centroide|length) %}
                    <p><strong>Agrupamento: {{i+1}} </strong></p>
                    <!--Para cada atributo selecionado-->
                    {% for p in range(name.propriedades_selecionadas|length) %}
                        <!--Property: Value-->
                        <li class="list-group-item">{{ name.propriedades_selecionadas[p] }}: {{ name.centroide[i][p] | round(2) }}</li>
                    {% endfor %}
                    <br>
                {% endfor %}
                </ul>
            </div>
            <div id="cidadesRelacao"> 
                <br>
                <ul>
                    <p><strong>CIDADES POR AGRUPAMENTOS:</strong></p>
                    {% for c in name.cidades_agrupamentos %}
                        <p><strong>Agrupamento: {{loop.index}}</strong></p>
                        <li class="list-group-item">{{ c }}</li> 
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div id="mapa">
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-12">
            <div id="heatmap"></div>
            <script>
                var prop_selec = "{{ name.propriedades_selecionadas }}";
                prop_selec = prop_selec.replace(/&#39;/g, "").replace("[", "").replace("]", "");
                prop_selec = prop_selec.split(',');
                
                const k = "{{ name.numero_grupos }}"

                y_label = [];
                for(let i=0; i<k; i++) {
                    y_label[i] = i+1;
                }

                const data = [{
                    z: {{ name.centroide_normalizado }},
                    x: prop_selec,
                    y: y_label,
                    type: 'heatmap',
                    showscale: false
                  }]

                const layout = {
                    title: "Mapa de Calor para os Agrupamentos Gerados",
                    yaxis: {
                        tickmode: 'linear', 
                        dtick: 1
                    }
                }

                Plotly.newPlot('heatmap', data, layout);
            </script>
        </div>
    </div>

    <script>

        var map = L.map('mapa').setView([mapa.long, mapa.lat], mapa.zoom);

       //Camadas-bases
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 19
            }).addTo(map);

        const world = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 21,
            subdomains:['mt0','mt1','mt2','mt3']
        });

        //Controlador das camadas-bases
        const baseMaps = {
            "OpenStreetMap" : osm,
            "Ortofoto" : world
        };

        var cont = -1;
        var cores = "{{ name.agrupamentos }}";
        var cidades = "{{ name.nome_cidades }}";

        cores = cores.replace('[', '').replace(']', '');
        cores = cores.split(',');

        cidades = cidades.replace(/&#39;/g, "").replace("[", " ").replace("]", "");
        cidades = cidades.split(',');

        function onEachFeature(feature, layer) {

            /*const agrupamento_cor = {
                '0' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '1' : () => layer.setStyle({fillColor :'green', fillOpacity: 1}),
                '3' : () => layer.setStyle({fillColor :'blue', fillOpacity: 1}),
                '4' : () => layer.setStyle({fillColor :'yellow', fillOpacity: 1}),
                '5' : () => layer.setStyle({fillColor :'orange', fillOpacity: 1}),
                '6' : () => layer.setStyle({fillColor :'purple', fillOpacity: 1}),
                '7' : () => layer.setStyle({fillColor :'pink', fillOpacity: 1}),
                '8' : () => layer.setStyle({fillColor :'cyan', fillOpacity: 1}),
                '9' : () => layer.setStyle({fillColor :'gray', fillOpacity: 1}),
                '10' : () => layer.setStyle({fillColor :'black', fillOpacity: 1}),
                '11' : () => layer.setStyle({fillColor :'indigo', fillOpacity: 1}),
                '12' : () => layer.setStyle({fillColor :'lightblue', fillOpacity: 1}),
                '13' : () => layer.setStyle({fillColor :'jade', fillOpacity: 1}),
                '14' : () => layer.setStyle({fillColor :'harlequim', fillOpacity: 1}),
                '15' : () => layer.setStyle({fillColor :'maroon', fillOpacity: 1}),
                '16' : () => layer.setStyle({fillColor :'violet', fillOpacity: 1}),
                '17' : () => layer.setStyle({fillColor :'azure', fillOpacity: 1}),
                '18' : () => layer.setStyle({fillColor :'aquamarine', fillOpacity: 1}),
                '19' : () => layer.setStyle({fillColor :'amber', fillOpacity: 1}),
                '20' : () => layer.setStyle({fillColor :'carmine', fillOpacity: 1}),
                '21' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '22' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '23' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '24' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '25' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '26' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '27' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '28' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '29' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '30' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '31' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '32' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '33' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '34' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '35' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '36' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '37' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '38' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '39' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '40' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '41' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '42' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '43' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '44' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '45' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '46' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '47' : () => layer.setStyle({fillColor :'red', fillOpacity: 1}),
                '48' : () => layer.setStyle({fillColor :'red', fillOpacity: 1})
            };

            var c = parseInt(cores[cont])
            agrupamento_cor[c]*/

            cont = cidades.indexOf(" " +feature.properties.name)
            

            if(cores[cont] == 0){
                layer.setStyle({fillColor :'red', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 1
                `)
            }
            else if(cores[cont] == 1){
               layer.setStyle({fillColor :'green', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 2
                `)
            }
            else if(cores[cont] == 2){
               layer.setStyle({fillColor :'yellow', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 3
                `)
            }
            else if(cores[cont] == 3){
               layer.setStyle({fillColor :'orange', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 4
                `)
            }
            else if(cores[cont] == 4){
               layer.setStyle({fillColor :'gray', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 5
                `)
            }
            else if(cores[cont] == 5){
               layer.setStyle({fillColor :'black', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 6
                `)
            }
            else if(cores[cont] == 6){
               layer.setStyle({fillColor :'blue', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 7
                `)
            }
            else if(cores[cont] == 7){
               layer.setStyle({fillColor :'brown', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 8
                `)
            }
            else if(cores[cont] == 8){
               layer.setStyle({fillColor :'cerise', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 9
                `)
            }
            else if(cores[cont] == 9){
               layer.setStyle({fillColor :'violet', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 10
                `)
            }
            else if(cores[cont] == 10){
               layer.setStyle({fillColor :'plum', fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 11
                `)
            }
        }


        //Camadas overlayer
        //geometria não ordenada
        const overlayMaps = {
            "Polígono Envolvente" : L.geoJSON(geometria, {
                onEachFeature: onEachFeature
            }).addTo(map)
        }


        //Controlador das camadas-bases e overlayer
        var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);

        //Barra de escala
        L.control.scale({
            metric: true,
            imperial: false
        }).addTo(map);

        var legend = L.control({position: 'bottomright'});

        legend.onAdd = (map) => {
          var div = L.DomUtil.create("div", "legend");
          div.innerHTML += "<h4>Relação Cor e Agrupamento</h4>";
          div.innerHTML += '<i style="background: red"></i><span>Agrupamento 01</span><br>';
          div.innerHTML += '<i style="background: green"></i><span>Agrupamento 02</span><br>';
          div.innerHTML += '<i style="background: yellow"></i><span>Agrupamento 03</span><br>';
          div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 04</span><br>';
          div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 05</span><br>';
          div.innerHTML += '<i style="background: black"></i><span>Agrupamento 06</span><br>';
          div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 07</span><br>';
          div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 08</span><br>';
          div.innerHTML += '<i style="background: violet"></i><span>Agrupamento 09</span><br>';
          div.innerHTML += '<i style="background: plum"></i><span>Agrupamento 10</span><br>';
        
          return div;
        };

        legend.addTo(map);

  
        /*const coordenadas = coordinates;
        
        var cluster = {{ name.agrupamentos }};

        var iconB = L.icon ({
            iconUrl: '../static/img/marker-icon-black.png',
        });
        var iconBL = L.icon ({
            iconUrl: '../static/img/marker-icon-blue.png',
        });
        var iconG = L.icon ({
            iconUrl: '../static/img/marker-icon-gold.png',
        });

        var iconGR = L.icon ({
            iconUrl: '../static/img/marker-icon-green.png',
        });
        var iconGRE = L.icon ({
            iconUrl: '../static/img/marker-icon-grey.png',
        });
        var iconO = L.icon ({
            iconUrl: '../static/img/marker-icon-orange.png',
        });
        var iconR = L.icon ({
            iconUrl: '../static/img/marker-icon-red.png',
        });
        var iconV = L.icon ({
            iconUrl: '../static/img/marker-icon-violet.png',
        });
        var iconY = L.icon ({
            iconUrl: '../static/img/marker-icon-yellow.png',
        });

        for(let i=0; i<coordenadas.length; i++) {
            if(cluster[i] === 0) {
                L.marker(coordenadas[i], {icon: iconB}).addTo(map).bindPopup("cluster: 0");
            }
            if(cluster[i] === 1) {
                L.marker(coordenadas[i], {icon: iconBL}).addTo(map).bindPopup("cluster: 1");
            }
            if(cluster[i]  === 2) {
                L.marker(coordenadas[i], {icon: iconG}).addTo(map).bindPopup("cluster: 2");
            }
            if(cluster[i]  === 3) {
                L.marker(coordenadas[i], {icon: iconGR}).addTo(map).bindPopup("cluster: 3");
            }
            if(cluster[i]  === 4) {
                L.marker(coordenadas[i], {icon: iconGRE}).addTo(map).bindPopup("cluster: 4");
            }
            if(cluster[i]  === 5) {
                L.marker(coordenadas[i], {icon: iconO}).addTo(map).bindPopup("cluster: 5");
            }
            if(cluster[i]  === 6) {
                L.marker(coordenadas[i], {icon: iconR}).addTo(map).bindPopup("cluster: 6");
            }
            if(cluster[i]  === 7) {
                L.marker(coordenadas[i], {icon: iconV}).addTo(map).bindPopup("cluster: 7");
            }
            if(cluster[i]  === 8) {
                L.marker(coordenadas[i], {icon: iconY}).addTo(map).bindPopup("cluster: 8");
            }
        }*/

    </script>

    {{name}}

</body>
</html>