<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Configuração-->
    <script src="../static/conf/edit.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="../static/css/leaflet/leaflet.css" crossorigin="" />
    <script src="../static/js/leaflet/leaflet.js"></script>
    <script type="module" src="../static/js/leaflet/leaflet-src.esm.js"></script>
    <script src="../static/js/leaflet/leaflet-src.js"></script>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>

    <!--Leaflet.EasyButton-->
    <link rel="stylesheet" href="../static/css/Leaflet.EasyButton/easy-button.css" crossorigin="" />
    <script src="../static/js/Leaflet.EasyButton/easy-button.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" crossorigin="" />
    <script type="module" src="../static/js/bootstrap/bootstrap.js"></script>
    
    <!--Meu CSS-->
    <link rel="stylesheet" href="../static/css/global.css"> 

    <!--Gerando PDF com JSPDF via CDNJ-->
    <script src="../static/js/Leaflet-easyPrint.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>

    <script>
        function gerarPDF() {   
            var canvasElement = document.getElementById('mapa');
            html2canvas(canvasElement).then(function(canvas) {
                var screenshot = canvas.toDataURL('image/png');
                var doc = new jsPDF({
                  orientation: 'landscape',
                  unit: 'cm',
                  format: 'letter'
                })

                doc.addImage(screenshot, 'PNG', 0, 0, 10, 10);
                
                //doc.setTextColor(100);
                //doc.text("This is gray.", 20, 20);

                 doc.save('relatorio.pdf')
            });

        }
    </script>    

    <title>Mapa</title>

</head>
<body>
    
    <div class="row">
        <div class="col-12">

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">TerrainIntelGIS</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="nav-link active" onclick="gerarPDF()">Gerar Relatório PDF</button>
                        </li>
                      </ul>
                      <button class="btn btn-outline-success">Logout</button>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div id="agrupamentos"> 
                <ul>
                <p><strong>MÉDIAS DOS ATRIBUTOS:</strong></p>
                <!--Para cada agrupamento-->
                {% for i in range(name.centroide|length) %}
                    <p><strong>Agrupamento: {{i+1}} </strong></p>
                    <!--Para cada atributo selecionado-->
                    {% for p in range(name.propriedades_selecionadas|length) %}
                        <!--Property: Value-->
                        <li class="list-group-item">{{ name.propriedades_selecionadas[p] }}: {{ name.centroide[i][p] | round(2) }}</li>
                    {% endfor %}
                    <br>
                {% endfor %}
                </ul>
            </div>
            <div id="cidadesRelacao"> 
                <br>
                <ul>
                    <p><strong>CIDADES POR AGRUPAMENTOS:</strong></p>
                    {% for c in name.cidades_agrupamentos %}
                        <p><strong>Agrupamento: {{loop.index}}</strong></p>
                        <li class="list-group-item">{{ c }}</li> 
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div id="mapa">
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-12">
            <div id="heatmap"></div>
            <script>
                var prop_selec = "{{ name.propriedades_selecionadas }}";
                prop_selec = prop_selec.replace(/&#39;/g, "").replace("[", "").replace("]", "");
                prop_selec = prop_selec.split(',');
                
                const k = "{{ name.numero_grupos }}"

                y_label = [];
                for(let i=0; i<k; i++) {
                    y_label[i] = i+1;
                }

                const data = [{
                    z: {{ name.centroide_normalizado }},
                    x: prop_selec,
                    y: y_label,
                    type: 'heatmap',
                    showscale: false
                  }]

                const layout = {
                    title: "Mapa de Calor para os Agrupamentos Gerados",
                    yaxis: {
                        tickmode: 'linear', 
                        dtick: 1
                    }
                }

                Plotly.newPlot('heatmap', data, layout);
            </script>
        </div>
    </div>

    <script>

        var map = L.map('mapa').setView([mapa.long, mapa.lat], mapa.zoom);

       //Camadas-bases
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 19
            }).addTo(map);

        const world = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 21,
            subdomains:['mt0','mt1','mt2','mt3']
        });

        //Controlador das camadas-bases
        const baseMaps = {
            "OpenStreetMap" : osm,
            "Ortofoto" : world
        };

        var cont = -1;
        var cores = "{{ name.agrupamentos }}";
        var cidades = "{{ name.nome_cidades }}";

        cores = cores.replace('[', '').replace(']', '');
        cores = cores.split(',');

        cidades = cidades.replace(/&#39;/g, "").replace("[", " ").replace("]", "");
        cidades = cidades.split(',');

        function gerarCor() {
            const letra = "0123456789ABCDEF";
            var cor = "#";

            for (let i = 0; i < 6; i++) {
                cor+= letra[Math.floor(Math.random() * 16)];
            }
  
            return cor;
        }

        var cores_mapa = []
        for(let i=0; i<k; i++){
            const c = gerarCor();
            
            //Se a cor gerada ainda não foi sorteada
            if(cores_mapa.indexOf(c) == -1) {
                cores_mapa[i] = c;
            }
            else {
                while(cores_mapa.indexOf(c) != -1) {
                    const c = gerarCor();
                }
                cores_mapa[i] = c;
            }
        }
        //Gerar array de cores a ser usado para preenchimento do mapa e da legenda

        function onEachFeature(feature, layer) {
            cont = cidades.indexOf(" " +feature.properties.name)
            

            if(cores[cont] == 0){
                layer.setStyle({fillColor : cores_mapa[0], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 1
                `)
            }
            else if(cores[cont] == 1){
               layer.setStyle({fillColor : cores_mapa[1], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 2
                `)
            }
            else if(cores[cont] == 2){
               layer.setStyle({fillColor : cores_mapa[2], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 3
                `)
            }
            else if(cores[cont] == 3){
               layer.setStyle({fillColor : cores_mapa[3], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 4
                `)
            }
            else if(cores[cont] == 4){
               layer.setStyle({fillColor : cores_mapa[4], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 5
                `)
            }
            else if(cores[cont] == 5){
               layer.setStyle({fillColor : cores_mapa[5], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 6
                `)
            }
            else if(cores[cont] == 6){
               layer.setStyle({fillColor : cores_mapa[6], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 7
                `)
            }
            else if(cores[cont] == 7){
               layer.setStyle({fillColor : cores_mapa[7], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 8
                `)
            }
            else if(cores[cont] == 8){
               layer.setStyle({fillColor : cores_mapa[8], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 9
                `)
            }
            else if(cores[cont] == 9){
               layer.setStyle({fillColor : cores_mapa[9], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 10
                `)
            }
            else if(cores[cont] == 10){
               layer.setStyle({fillColor : cores_mapa[10], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 11
                `)
            }
            else if(cores[cont] == 11){
               layer.setStyle({fillColor : cores_mapa[11], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 12
                `)
            }
            else if(cores[cont] == 12){
               layer.setStyle({fillColor : cores_mapa[12], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 13
                `)
            }
            else if(cores[cont] == 13){
               layer.setStyle({fillColor : cores_mapa[13], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 14
                `)
            }
            else if(cores[cont] == 14){
               layer.setStyle({fillColor : cores_mapa[14], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 15
                `)
            }
            else if(cores[cont] == 15){
               layer.setStyle({fillColor : cores_mapa[15], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 16
                `)
            }
            else if(cores[cont] == 16){
               layer.setStyle({fillColor : cores_mapa[16], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 17
                `)
            }
            else if(cores[cont] == 17){
               layer.setStyle({fillColor : cores_mapa[17], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 18
                `)
            }
            else if(cores[cont] == 18){
               layer.setStyle({fillColor : cores_mapa[18], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 19
                `)
            }
            else if(cores[cont] == 19){
               layer.setStyle({fillColor : cores_mapa[19], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 20
                `)
            }
            else if(cores[cont] == 20){
               layer.setStyle({fillColor : cores_mapa[20], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 21
                `)
            }
            else if(cores[cont] == 21){
               layer.setStyle({fillColor : cores_mapa[21], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 22
                `)
            }
            else if(cores[cont] == 22){
               layer.setStyle({fillColor : cores_mapa[22], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 23
                `)
            }
            else if(cores[cont] == 23){
               layer.setStyle({fillColor : cores_mapa[23], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 24
                `)
            }
            else if(cores[cont] == 24){
               layer.setStyle({fillColor : cores_mapa[24], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 25
                `)
            }
            else if(cores[cont] == 25){
               layer.setStyle({fillColor : cores_mapa[5], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 6
                `)
            }
            else if(cores[cont] == 26){
               layer.setStyle({fillColor : cores_mapa[26], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 7
                `)
            }
            else if(cores[cont] == 27){
               layer.setStyle({fillColor : cores_mapa[27], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 8
                `)
            }
            else if(cores[cont] == 28){
               layer.setStyle({fillColor : cores_mapa[28], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 29
                `)
            }
            else if(cores[cont] == 29){
               layer.setStyle({fillColor : cores_mapa[29], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 30
                `)
            }
            else if(cores[cont] == 30){
               layer.setStyle({fillColor : cores_mapa[30], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 31
                `)
            }
            else if(cores[cont] == 31){
               layer.setStyle({fillColor : cores_mapa[31], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 32
                `)
            }
            else if(cores[cont] == 32){
               layer.setStyle({fillColor : cores_mapa[32], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 33
                `)
            }
            else if(cores[cont] == 33){
               layer.setStyle({fillColor : cores_mapa[33], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 34
                `)
            }
            else if(cores[cont] == 34){
               layer.setStyle({fillColor : cores_mapa[34], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 35
                `)
            }
            else if(cores[cont] == 35){
               layer.setStyle({fillColor : cores_mapa[35], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 36
                `)
            }
            else if(cores[cont] == 36){
               layer.setStyle({fillColor : cores_mapa[36], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 37
                `)
            }
            else if(cores[cont] == 37){
               layer.setStyle({fillColor : cores_mapa[37], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 38
                `)
            }
            else if(cores[cont] == 38){
               layer.setStyle({fillColor : cores_mapa[38], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 39
                `)
            }
            else if(cores[cont] == 39){
               layer.setStyle({fillColor : cores_mapa[39], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 40
                `)
            }
            else if(cores[cont] == 40){
               layer.setStyle({fillColor : cores_mapa[40], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 41
                `)
            }
             else if(cores[cont] == 41){
               layer.setStyle({fillColor : cores_mapa[41], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 42
                `)
            }
            else if(cores[cont] == 42){
               layer.setStyle({fillColor : cores_mapa[42], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 43
                `)
            }
            else if(cores[cont] == 43){
               layer.setStyle({fillColor : cores_mapa[43], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 44
                `)
            }
            else if(cores[cont] == 44){
               layer.setStyle({fillColor : cores_mapa[44], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 45
                `)
            }
            else if(cores[cont] == 45){
               layer.setStyle({fillColor : cores_mapa[45], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 46
                `)
            }
            else if(cores[cont] == 46){
               layer.setStyle({fillColor : cores_mapa[46], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 47
                `)
            }
            else if(cores[cont] == 47){
               layer.setStyle({fillColor : cores_mapa[47], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 48
                `)
            }
            else if(cores[cont] == 48){
               layer.setStyle({fillColor : cores_mapa[48], fillOpacity: 1}).bindPopup(`
                    Cidade: `+feature.properties.name+`
                    <br>Agrupamento: 49
                `)
            }
        }


        //Camadas overlayer
        //geometria não ordenada
        const overlayMaps = {
            "Polígono Envolvente" : L.geoJSON(geometria, {
                onEachFeature: onEachFeature
            }).addTo(map)
        }


        //Controlador das camadas-bases e overlayer
        var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);

        //Barra de escala
        L.control.scale({
            metric: true,
            imperial: false
        }).addTo(map);

        var legend = L.control({position: 'bottomright'});

        legend.onAdd = (map) => {
            var div = L.DomUtil.create("div", "legend");

            /*
            div.innerHTML += "<h4>Relação Cor e Agrupamento</h4>";
            for(let i=0; i<49; i++){
                div.innerHTML += `<i style="background: `+ gerarCor() + `"></i><span>Agrupamento `+ i +`</span><br>`;
            }
            */

            div.innerHTML += "<h4>Relação Cor e Agrupamento</h4>";

            for(let i=0; i<k; i++) {
                div.innerHTML += `<i style="background: `+ cores_mapa[i] +`"></i><span>Agrupamento `+ (i+1) +`</span><br>`;
            }

            /*
            div.innerHTML += '<i style="background: red"></i><span>Agrupamento 01</span><br>';
            div.innerHTML += '<i style="background: green"></i><span>Agrupamento 02</span><br>';
            div.innerHTML += '<i style="background: yellow"></i><span>Agrupamento 03</span><br>';
            div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 04</span><br>';
            div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 05</span><br>';
            div.innerHTML += '<i style="background: black"></i><span>Agrupamento 06</span><br>';
            div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 07</span><br>';
            div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 08</span><br>';
            div.innerHTML += '<i style="background: violet"></i><span>Agrupamento 09</span><br>';
            div.innerHTML += '<i style="background: plum"></i><span>Agrupamento 10</span><br>';

            div.innerHTML += '<i style="background: salmon"></i><span>Agrupamento 11</span><br>';
            div.innerHTML += '<i style="background: beige"></i><span>Agrupamento 12</span><br>';
            div.innerHTML += '<i style="background: lilac"></i><span>Agrupamento 13</span><br>';
            div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 14</span><br>';
            div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 15</span><br>';
            div.innerHTML += '<i style="background: black"></i><span>Agrupamento 16</span><br>';
            div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 17</span><br>';
            div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 18</span><br>';
            div.innerHTML += '<i style="background: violet"></i><span>Agrupamento 19</span><br>';
            div.innerHTML += '<i style="background: plum"></i><span>Agrupamento 20</span><br>';
            div.innerHTML += '<i style="background: red"></i><span>Agrupamento 21</span><br>';
            div.innerHTML += '<i style="background: green"></i><span>Agrupamento 22</span><br>';
            div.innerHTML += '<i style="background: yellow"></i><span>Agrupamento 23</span><br>';
            div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 24</span><br>';
            div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 25</span><br>';
            div.innerHTML += '<i style="background: black"></i><span>Agrupamento 26</span><br>';
            div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 27</span><br>';
            div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 28</span><br>';
            div.innerHTML += '<i style="background: violet"></i><span>Agrupamento 29</span><br>';
            div.innerHTML += '<i style="background: plum"></i><span>Agrupamento 30</span><br>';
            div.innerHTML += '<i style="background: red"></i><span>Agrupamento 31</span><br>';
            div.innerHTML += '<i style="background: green"></i><span>Agrupamento 32</span><br>';
            div.innerHTML += '<i style="background: yellow"></i><span>Agrupamento 33</span><br>';
            div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 34</span><br>';
            div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 35</span><br>';
            div.innerHTML += '<i style="background: black"></i><span>Agrupamento 36</span><br>';
            div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 37</span><br>';
            div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 38</span><br>';
            div.innerHTML += '<i style="background: violet"></i><span>Agrupamento 39</span><br>';
            div.innerHTML += '<i style="background: plum"></i><span>Agrupamento 40</span><br>';
            div.innerHTML += '<i style="background: red"></i><span>Agrupamento 41</span><br>';
            div.innerHTML += '<i style="background: green"></i><span>Agrupamento 42</span><br>';
            div.innerHTML += '<i style="background: yellow"></i><span>Agrupamento 43</span><br>';
            div.innerHTML += '<i style="background: orange"></i><span>Agrupamento 44</span><br>';
            div.innerHTML += '<i style="background: gray"></i><span>Agrupamento 45</span><br>';
            div.innerHTML += '<i style="background: black"></i><span>Agrupamento 46</span><br>';
            div.innerHTML += '<i style="background: blue"></i><span>Agrupamento 47</span><br>';
            div.innerHTML += '<i style="background: brown"></i><span>Agrupamento 48</span><br>';
            */

            div.setAttribute("style", "height:400px; overflow-y: scroll;");
        
            return div;
        };

        legend.addTo(map);

  
        /*const coordenadas = coordinates;
        
        var cluster = {{ name.agrupamentos }};

        var iconB = L.icon ({
            iconUrl: '../static/img/marker-icon-black.png',
        });
        var iconBL = L.icon ({
            iconUrl: '../static/img/marker-icon-blue.png',
        });
        var iconG = L.icon ({
            iconUrl: '../static/img/marker-icon-gold.png',
        });

        var iconGR = L.icon ({
            iconUrl: '../static/img/marker-icon-green.png',
        });
        var iconGRE = L.icon ({
            iconUrl: '../static/img/marker-icon-grey.png',
        });
        var iconO = L.icon ({
            iconUrl: '../static/img/marker-icon-orange.png',
        });
        var iconR = L.icon ({
            iconUrl: '../static/img/marker-icon-red.png',
        });
        var iconV = L.icon ({
            iconUrl: '../static/img/marker-icon-violet.png',
        });
        var iconY = L.icon ({
            iconUrl: '../static/img/marker-icon-yellow.png',
        });

        for(let i=0; i<coordenadas.length; i++) {
            if(cluster[i] === 0) {
                L.marker(coordenadas[i], {icon: iconB}).addTo(map).bindPopup("cluster: 0");
            }
            if(cluster[i] === 1) {
                L.marker(coordenadas[i], {icon: iconBL}).addTo(map).bindPopup("cluster: 1");
            }
            if(cluster[i]  === 2) {
                L.marker(coordenadas[i], {icon: iconG}).addTo(map).bindPopup("cluster: 2");
            }
            if(cluster[i]  === 3) {
                L.marker(coordenadas[i], {icon: iconGR}).addTo(map).bindPopup("cluster: 3");
            }
            if(cluster[i]  === 4) {
                L.marker(coordenadas[i], {icon: iconGRE}).addTo(map).bindPopup("cluster: 4");
            }
            if(cluster[i]  === 5) {
                L.marker(coordenadas[i], {icon: iconO}).addTo(map).bindPopup("cluster: 5");
            }
            if(cluster[i]  === 6) {
                L.marker(coordenadas[i], {icon: iconR}).addTo(map).bindPopup("cluster: 6");
            }
            if(cluster[i]  === 7) {
                L.marker(coordenadas[i], {icon: iconV}).addTo(map).bindPopup("cluster: 7");
            }
            if(cluster[i]  === 8) {
                L.marker(coordenadas[i], {icon: iconY}).addTo(map).bindPopup("cluster: 8");
            }
        }*/

    </script>

    {{name}}

</body>
</html>