<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Leaflet-->
    <link rel="stylesheet" href="../static/css/leaflet/leaflet.css" crossorigin="" />
    <script src="../static/js/leaflet/leaflet.js"></script>
    <script src="../static/js/leaflet/leaflet-src.esm.js"></script>
    <script src="../static/js/leaflet/leaflet-src.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" crossorigin="" />
    <script src="../static/js/bootstrap/bootstrap.js"></script>
    
    <!--Meu CSS-->
    <link rel="stylesheet" href="../static/css/global.css"> 

    <!--CDN Vue Framework-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


    <title>TerrainIntelGIS</title>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-2"></div>
                <div class="col-8" style="border: 1px solid black;">
     
                    <nav class="navbar navbar-expand-lg bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <a class="navbar-brand" href="#">{{nomeSistema}}</a>
                            </div>
                        </div>
                        <button class="btn btn-outline-success">Logout</button>
                    </nav>

                    <p>Escolha quais serão os atributos utilizados para o agrupamento dos dados:</p>
					<form action="/display" method = "POST">

						{% for attr in content %}
						<input type="checkbox" id='{{attr}}' name='{{attr}}' value='{{attr}}'>
							<label for='{{attr}}'>{{attr}}</label><br>
						{% endfor %}
						<input type="submit" value="Submit">
					</form>
                </div>
            <div class="col-2"></div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nomeSistema: "TerrainIntelGIS",
                mostrar: true,
            }
        })
    </script>
</body>
</html>
