<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Configuração-->
    <script src="../static/conf/edit.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="../static/css/leaflet/leaflet.css" crossorigin="" />
    <script src="../static/js/leaflet/leaflet.js"></script>
    <script type="module" src="../static/js/leaflet/leaflet-src.esm.js"></script>
    <script src="../static/js/leaflet/leaflet-src.js"></script>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>

    <!--Leaflet.EasyButton-->
    <link rel="stylesheet" href="../static/css/Leaflet.EasyButton/easy-button.css" crossorigin="" />
    <script src="../static/js/Leaflet.EasyButton/easy-button.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" crossorigin="" />
    <script type="module" src="../static/js/bootstrap/bootstrap.js"></script>
    
    <!--Meu CSS-->
    <link rel="stylesheet" href="../static/css/global.css"> 

    <!--CDN Vue Framework-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Mapa</title>

</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-12">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">TerrainIntelGIS</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          </ul>
                            <form action="/logout" method="POST">
                                <button class="btn btn-outline-success" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="upload">
                <div>
                    <p><strong><h6>Configuração do Sistema</h6></strong></p>
                </div>

                <div>
                    <p>Ícones</p>
                </div> 
                
                <form action = "/features" method = "POST" enctype = "multipart/form-data">
                    <label class="mr-sm-2" for="informarK">Deseja Informar o Número de Agrupamentos?
                        <select @change="mostrar = !mostrar" name="informarK" class="form-select form-select-sm form-control" >
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </label>
                    <br/><br/>

                    <div v-if="mostrar">
                        <label class="mr-sm-2" for="valorK">Digite o valor:
                        <input class="form-control form-control-sm" type="number" name="valorK" placeholder="Valor de K" aria-label=".form-control-sm example">
                        </select>
                    </label>
                    </div>

                    <br/>
                    <input type = "file" name = "file" />
                    <p>*Upload de arquivos somente no formato csv</p>
                    <br>
                    <button class="btn btn-primary btn-sm" type="submit" name="entrar" class="botaoLogin">Fazer a Consulta</button>

                </form> 

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nomeSistema: "TerrainIntelGIS",
                mostrar: true,
            }
        })
    </script>
</body>
</html>