* {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
	overflow-x: hidden;
}

#mapa {
	width: 100%; 
	height: 85vh;
	border: solid black 1px;
}

#agrupamentos {
	border: solid black 1px;
	overflow-y: scroll;
	height: 42.5vh;
}

#cidadesRelacao {
	border: solid black 1px;
	overflow-y: scroll;
	height: 42.5vh;
}
